

{{#each this}}
<div class="photo-card">
  <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy"  width="640" height="425"/>
  <div class="info">
    <p class="info-item">
      <b>Likes:{{likes}}</b>
    </p>
    <p class="info-item">
      <b>Views:{{likes}}</b>
    </p>
    <p class="info-item">
      <b>Comments:{{comments}}</b>
    </p>
    <p class="info-item">
      <b>Downloads:{{downloads}}</b>
    </p>
  </div>
</div>

{{/each}} 

  